*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
main{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    height: 100vh;
}

.postList{
    margin-bottom: 115px;
    flex-wrap: wrap;
    display: flex;
}
.postBlock{
    border: 1px solid grey;
    cursor: pointer;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 10px;
    min-height: 200px;
    position: relative;
    background-color: navajowhite;
}
.postBlock-link{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.postBlock-pen{
    width: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: all .1s;
}
.postBlock-pen:hover {
    transform: scale(1.2);
}
.post-top{
    background: grey;
    height: 60px;
    padding: 15px 20px;
    position: relative;
    margin-bottom: 20px;
}
.post-top-icon{
    position: absolute;
    height: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 50%;
    transition: all .5s;
}
.post-top-icon:hover {
    transform: scale(1.02) translateY(-30%);
    background-color: #363A45;
}
.top-pen{
    right: 18%;
}
.top-del{
    right: 13%;
}
.top-menu{
    right: 8%;
}
.postPage{
    display: flex;
}
.postPage-left{
    width: 60%;
    padding: 10px;
}
.postPage-right{
    width: 40%;
    padding: 10px 10px 10px 50px;
    height: 60vh;
    border-left: 3px solid black;
}
.postPage-title{
    font-size: 45px;
    text-align: center;
    margin-bottom: 83px;
}
.postPage-left-text{
    font-size: 30px;
}
.postPage-left__textarea{
    resize: none;
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
}
.postPage-right-title{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}
.postPage-right-job{
    font-size: 40px;
}
.postPage-right-site{
    font-size: 25px;
}
.postPage-right-phone{
    text-align: right;
}




.header-under__form-wrapper{
    margin-top: 100px;
}
.header-under__form{

    position: relative;
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: 150px;
}
.header-under__icon img{
    height: 20px;
}
.header-under__icon{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 10px;
}
.header-under__search{
    width: 300px;
    height: 28px;
    padding-left: 40px;
    background: #FFFFFF;
    border: 1px solid red;
    border-radius: 18px;
    outline: none;
    margin-left: auto;
    justify-self: flex-end;
}
.header-under__btn{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: goldenrod;
    border-radius: 0 18px 18px 0;
    border: none;
    height: 30px;
    width: 89px;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #363A45;
}


#pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

.pagination-btn{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 40px;
    transition: all .3s;
    border: 1px solid transparent;
}
.pagination-btn:hover{
    color: red;
    border: 1px solid red;
    border-radius: 10px;
}
.pagination-btn.active{
    color: red;
    border: 1px solid goldenrod;
    border-radius: 10px;
}


